.categories {
  padding: 0 1rem;
  width: 100%;
  display: block;
 }   

li {
  cursor: pointer;
}
 /* .active {
        background-color: #991c1c;
        padding: 13px 30px;
        border-radius: 20px;
        margin-right: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
        text-decoration: none;
 
        &:hover {
          background-color: darken(#f9f9f9, 2%);
        }
  
        &:active {
          background-color: darken(#f9f9f9, 5%);
        }
  
        &.active {
          background-color: #282828;
          color: #fff;
        }
 } */
  
  